{% extends "base.html" %}

{% block body %}
  <a href="/">Home</a>

  {% if user %}
    <h1>Hi {{ user.name }}</h1>
    <h2>Your id is: {{ user.id }}</h2>
    <h2>Your email is: {{ user.email }}</h2>
  {% endif %}

  <h2>My friends:</h2>
  <ul>
  {% for friend in friends %}
    <li>
      {{ friend.name }}
      {% if friend.email %}({{ friend.email }}){% endif %}
      {% if friend.phone %}({{ friend.phone }}){% endif %}
    </li>
  {% endfor %}
  </ul>

  <h2>Info:</h2>
  <ul>
    <li>
      Twitter:
      <p>Cannot retrieve user's E-mail address.</p>
    </li>
    <li>
      Facebook:
      <p>In v2.0 of the Graph API, calling /me/friends returns the person's friends who also use the app.</p>
      <p>In addition, in v2.0, you must request the user_friends permission from each user. user_friends is no longer included by default in every login. Each user must grant the user_friends permission in order to appear in the response to /me/friends. See the Facebook upgrade guide for more detailed information, or review the summary below. (from <a href="http://stackoverflow.com/questions/23417356/facebook-graph-api-v2-0-me-friends-returns-empty-or-only-friends-who-also-use-m">http://stackoverflow.com/questions/23417356/facebook-graph-api-v2-0-me-friends-returns-empty-or-only-friends-who-also-use-m</a>)</p>
    </li>
  </ul>
{% endblock %}
